<head>
<title>Login</title>
<link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans' rel='stylesheet' type='text/css'>
<h1 style="font-family:'Oswald',sans-serif;">p2p-chat-python</h1>
<hr>
<style>
#log{
  margin:0 auto;
  width:20%;
  padding:100px;
  border-style: solid;
  border-width:thin;
  border-color: cyan;
  border-radius:10px;
}
</style>
</head>
<div id="log">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{settings.LOGIN_REDIRECT_URL}}" />
</div>
</form>

